<header>
    <a href="/"><div class="brand">
        <img src="/static/images/brand.jpg" alt="brand">
        <h2>ITimer</h2>
    </div></a>
    <div class="form">
        <h2>{{yourClass}}</h2>
    </div>
</header>